*{
  margin:0px;
  
}
body{
  background-color: #f5f6fa;
}
.app_header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom:20px ;
}
.app_stats{
  display: flex;
  justify-content: space-between;
}
.app{
  display: flex;
  justify-content: space-evenly;
  padding:20px;
}
@media(max-width:990px) {
  .app{
    flex-direction: column;
  }

}
.app_left{
  flex:0.9;
}